<div class="container">
  <div class="row">
    <div class="col-md-6">
      <input
        [style.background]="selectedColor"
        [(colorPicker)]="selectedColor"
        [cpOKButton]="true"
        [cpOKButtonText]="'Select'"
        [cpCancelButton]="true"
        [cpSaveClickOutside]="false"
        [cpDisableInput]="false"
        [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'"
        [cpPresetColors]="presetValues"
        [cpAddColorButton]="true"

        (colorPickerChange)="handleChangeColor($event)"
      />
    </div>
  </div>

</div>
