<mat-card>
  <mat-card-content class="item-card-content">
    <iframe title="daylimotion" class="item-card-link" frameborder="0"
            [width]="width" [height]="height" [src]="controllerSrc"
            allowfullscreen allow="autoplay"></iframe>
    <span class="item-card-title">{{dailymotionvideo.title}}</span>
  </mat-card-content>
</mat-card>
