<div>
    <app-searchbar *ngIf="userChoice.searchbar"></app-searchbar>
    <app-sorte-result *ngIf="userChoice.sortresult"></app-sorte-result>
    <app-itemslist [display]="mozaic ?  'MOZAIC' :'LIST'"></app-itemslist>
</div>
