.item-card {
  margin: 10px;
  display: flex;
  //flex-shrink: 1;
  .item-card-content {
    flex-shrink: 1;
    margin: auto;

    .item-card-link {

    }
    .item-card-title {
      display: block;
    }
  }
}
