<mat-card class="item-card">
  <div class="item-card-content">
    <a href="{{scorebatitem.videos[0].embed}}"
       target="_blank" class="item-card-link">
      <img src="{{scorebatitem.thumbnail}}"
           alt="{{scorebatitem.title}}"
           width="270px"
           height="180px"
           class="img-thumbnail">
    </a>
    <span class="item-card-title">{{scorebatitem.title}}</span>
  </div>
</mat-card>
