<div class="dialog-card">
  <h1 mat-dialog-title>Paramètres</h1>
  <div mat-dialog-content>
    <div class="dialog-card-item" *ngIf="userInfo?.colorPicker">
      <span>Couleur Arriere-plan :</span>
      <app-colorpicker ></app-colorpicker>
    </div>
    <div *ngIf="userInfo?.displayEnable">
      <span id="affichage">Affichage :</span>
      <button mat-raised-button color="primary"
              [value]="mozaic"
              (click)="change()">{{ mozaic ? 'Afficher en Liste' : 'Afficher en Mosaïque'}}</button>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-card-actions">
    <button class="dialog-card-actions-button" mat-button [mat-dialog-close]="">Fermer</button>
  </div>
</div>

