.dialog-card {
  height: 100%;
  transform: translate(0);
  display: flex;
  flex-direction: column;
  .dialog-card-item {
    display: flex;
  }
  .dialog-card-actions {

    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .dialog-card-actions {

    }
  }
}
#affichage{
  margin-right: 2%;
}
