<mat-card>
  <mat-card-content class="item-card-content">
    <a [href]="deezrItem.link" target="_blank"><img [src]="deezrItem.album.cover"></a>
<!--    <iframe id="dzplayer"-->
<!--            dztype="dzplayer"-->
<!--            src="http://developers.deezer.com/fr/plugins/player?playlist=true&width=700&height=240&autoplay=false&type=playlist&id=30595446"-->
<!--            scrolling="no" frameborder="0" style="border:none;-->
<!--            overflow:hidden;" [width]="width" [height]="height"-->
<!--            allowTransparency="true"></iframe>-->
    <span class="item-card-title">{{deezrItem.title}}</span>
  </mat-card-content>
</mat-card>
