
.item-card-content {
  flex-shrink: 1;
  margin: auto;
  .item-card-link {
    display: block;
  }
  .item-card-title {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
