<div id="sort-global">
  <div id="sort-display">
    <p>Sort Results </p>
    <div class="example-button-container">
      <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" (click)="displaySorte()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  </div>
  <form id="sort-form" *ngIf="display" >
    <mat-form-field>
      <mat-label>Field</mat-label>
      <select matNativeControl required name="sortResultForm" [(ngModel)]="fieldSelected">
        <option *ngFor="let i of fields" [value]="i">{{i}}</option>
      </select>
    </mat-form-field>
    <mat-slide-toggle (change)="isAscend = $event.checked">Ascendant</mat-slide-toggle>
    <button mat-raised-button id="sort-button" color="primary" (click)="doSort()">Validate</button>
  </form>
</div>

