#sort-global{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#sort-display{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

#sort-display *{
  margin-left: 5px;
  margin-right: 5px;
}

#sort-form{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

#sort-form *{
  margin-left: 5px;
  margin-right: 5px;
}
