.items-list-container {
  width: 95%;
  margin: auto;
  .items-list-items {
    display: flex;
    flex-wrap: wrap;
    .items-list-item {
      margin: 10px auto;
      flex-shrink: 1;
    }
  }
  .list {
    flex-direction: column;
    flex-shrink: 1;
    .items-list-item {
      width: 50%;
      min-width: 400px;
      max-width: 500px;
    }
  }
  .mozaic {
    justify-content: space-around;
    .items-list-item {
      width: 30%;
      max-width: 500px;
    }
  }

}
