<div class="items-list-container">
  <mat-tab-group>
    <mat-tab label="SCOREBAT" *ngIf="applicationProperty.apis.includes('SCOREBAT')">
      <div class="items-list-items" *ngIf="applicationProperty.apis.includes('SCOREBAT')"
           [ngClass]="{'list': display === 'LIST', 'mozaic': display === 'MOZAIC'}">
        <app-scorbatitem class="items-list-item" *ngFor="let item of datas.scorebat" [scorebatitem]='item'></app-scorbatitem>
      </div>
    </mat-tab>
    <mat-tab label="DAILYMOTION" *ngIf="applicationProperty.apis.includes('DAILYMOTION')">
      <div class="items-list-items"
           [ngClass]="{'list': display === 'LIST', 'mozaic': display === 'MOZAIC'}">
        <app-dailymotionitem class="items-list-item" *ngFor="let item of datas.dailymotion" [dailymotionvideo]='item'></app-dailymotionitem>
      </div>
    </mat-tab>
    <mat-tab label="DEEZER" *ngIf="applicationProperty.apis.includes('DEEZER')">
      <div class="items-list-items"
           [ngClass]="{'list': display === 'LIST', 'mozaic': display === 'MOZAIC'}">
        <app-deezeritem class="items-list-item" *ngFor="let item of datas.deezer?.data" [deezrItem]="item"></app-deezeritem>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
